spring:
  datasource:
    url: jdbc:h2:mem:jobtracker;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2
  security:
    user:
      name: admin
      password: admin

management:
  endpoints:
    web:
      exposure:
        include: "*"